<template>
  <div class="__mainCommentNous">
    <h2 class="h2">Comment nous Travaillons</h2>
    <div class="body-2 mt-3 font-weight-light __descriptionComment">
      Notre approche de travail est ingénieuse, nous échangeons avec vous
      quelques minutes sur votre projet/business et nous réalisons le projet et
      la livraison se fait dans les délais impartis
    </div>
    <div class="__diagramImg">
      <img
        src="https://i.pinimg.com/originals/13/b4/24/13b424621d064d601868219ccc978824.png"
      />
    </div>
  </div>
</template>
<style scoped>
.__mainCommentNous {
  margin-top: 1248px;
  padding: 25px;
  text-align: center;
}
.__descriptionComment {
  max-width: 763px;
  margin-left: auto;
  margin-right: auto;
}
.__diagramImg img {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 600px) {
  .__mainCommentNous {
    margin-top: 1910px;
  }
  .__diagramImg img {
    width: 100%;
    margin-top: 10px;
  }
}
</style>