<template>
  <v-img
    dark
    src="https://images.pexels.com/photos/1906713/pexels-photo-1906713.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    height="750"
    class="mb-10 mt-10"
  >
    <div class="__mainBox">
      <v-row align="center" justify="center">
        <v-col class="text-center" cols="12">
          <h5 class="font-weight-bold __heading __yellowText">DESIGN UI/UX</h5>
        </v-col>
      </v-row>
      <v-row class="__bigHeading">
        <v-col class="text-center" cols="12"
          ><h1 :class="displayClass + ' font-weight-light'">
            Notre expertise en DESIGN UI/UX à votre service
          </h1>
          <div class="font-weight-light body-2 mt-3 __headingSubText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
            quas doloremque ducimus quisquam animi corrupti...
          </div>
        </v-col>
      </v-row>
      <v-row class="__secondSection">
        <v-col class="__linnerContainer" cols="12" md="3" sm="6">
          <div class="pa-2">
            <div class="__yellowText">Design d'interaction</div>
            <div class="font-weight-light body-2">
              Nous recueillons des besoins auprès du client, pour ensuite les
              cadrer et analyser
            </div>
          </div>
          <div class="pa-2 mt-5">
            <div class="__yellowText">Wireframes</div>
            <div class="font-weight-light body-2">
              Nous recueillons des besoins auprès du client, pour ensuite les
              cadrer et analyser
            </div>
          </div>
        </v-col>

        <v-col class="__linnerContainer" cols="12" md="3" sm="6">
          <div class="pa-2">
            <div class="__yellowText">Design d'interaction</div>
            <div class="font-weight-light body-2">
              Nous recueillons des besoins auprès du client, pour ensuite les
              cadrer et analyser
            </div>
          </div>
          <div class="pa-2 mt-5">
            <div class="__yellowText">Wireframes</div>
            <div class="font-weight-light body-2">
              Nous recueillons des besoins auprès du client, pour ensuite les
              cadrer et analyser
            </div>
          </div>
        </v-col>
        <v-col class="__linnerContainer" cols="12" md="3" sm="6">
          <div class="pa-2">
            <div class="__yellowText">Design d'interaction</div>
            <div class="font-weight-light body-2">
              Nous recueillons des besoins auprès du client, pour ensuite les
              cadrer et analyser
            </div>
          </div>
          <div class="pa-2 mt-5">
            <div class="__yellowText">Wireframes</div>
            <div class="font-weight-light body-2">
              Nous recueillons des besoins auprès du client, pour ensuite les
              cadrer et analyser
            </div>
          </div>
        </v-col>
        <v-col cols="12" md="3" sm="6">
          <div class="pa-2">
            <div class="__yellowText">Design d'interaction</div>
            <div class="font-weight-light body-2">
              Nous recueillons des besoins auprès du client, pour ensuite les
              cadrer et analyser
            </div>
          </div>
          <div class="pa-2 mt-5">
            <div class="__yellowText">Wireframes</div>
            <div class="font-weight-light body-2">
              Nous recueillons des besoins auprès du client, pour ensuite les
              cadrer et analyser
            </div>
          </div>
        </v-col>
      </v-row>
    </div>
  </v-img>
</template>
<script>
export default {
  computed: {
    displayClass() {
      let classString = ''
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          classString = 'headline'
          break
        case 'sm':
          classString = 'display-1'
          break
        case 'md':
          classString = 'display-2'
          break
        case 'lg':
          classString = 'display-3'
          break
        case 'xl':
          classString = 'display-4'
          break
      }
      return classString
    },
  },
}
</script>
<style scoped>
.__heading {
  margin-top: 70px;
}
.__heading:after,
.__heading:before {
  content: '\00a0\00a0\00a0\00a0\00a0';
  text-decoration: line-through;
  margin-right: 8px;
  margin-left: 8px;
  color: #ffb500;
  opacity: 0.6;
}

.__headingSubText {
  max-width: 593px;
  margin-left: auto;
  margin-right: auto;
}

.__linnerContainer {
  border-right: 1px solid rgba(255, 255, 255, 0.603);
  height: fit-content;
}
.__bigHeading {
  margin-top: 0px;
}
.__secondSection {
  margin-top: 115px;
}
.__mainBox {
  padding: 15px;
}
@media only screen and (max-width: 600px) {
  .__heading {
    margin-top: 42px;
  }
  .__secondSection {
    margin-top: 0px;
  }
  .__mainBox {
    padding: 10px;
  }
}
</style>