<template>
  <div class="__footer">
    <v-row class="mt-12">
      <v-col cols="12" sm="4" class="d-flex justify-center">
        <div class="pa-2">
          <a href="" class="logo">
            <img src="https://gohze.com/_nuxt/img/logo.32866c7.png" />
          </a>
          <div class="mt-2"><h3>Let's move to the next step</h3></div>
          <div class="__social mt-2">
            <a href="" class="logo">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png"
              /> </a
            ><a href="" class="logo">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png"
              /> </a
            ><a href="" class="logo">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png"
              /> </a
            ><a href="" class="logo">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png"
              />
            </a>
          </div>
        </div> </v-col
      ><v-col cols="12" sm="4">
        <div class="pa-2" outlined tile>
          <h3>
            Nos services
            <div class="__yellowText">d’ Expertise</div>
          </h3>
          <div class="mt-3 font-weight-light">
            <ul>
              <li><span>Conception de sites WEB</span></li>
              <li><span>Conception d’Applications</span></li>
              <li><span>Dématérialisation des procédures</span></li>
              <li><span>Dimensionnement des réseaux</span></li>
              <li><span>Gestion de bases de données</span></li>
              <li><span>Graphic design</span></li>
              <li><span>Marketing digital</span></li>
            </ul>
          </div>
        </div> </v-col
      ><v-col cols="12" sm="4">
        <div class="pa-2" outlined tile>
          <h3>
            Contacts
            <div class="__yellowText">Téléphone</div>
          </h3>
          <div class="font-weight-light body-2 mt-2">
            <div>
              +237 <span class="__yellowText">697090659/682536922</span>
            </div>
            <div class="mt-4">Adresse Mail</div>
            <div class="mt-2 __yellowText">contact@gohze.org</div>
            <div class="mt-4">Adresse</div>
            <div class="mt-2 __yellowText">
              Carrefour Biyem-ASSI, Face Général Voyages, Yaoundé, Cameroun
            </div>
            <div class="mt-4">Heures d’ouverture</div>
            <div class="mt-2 __yellowText">
              Du lundi au vendredi : 8h00–18h00
            </div>
          </div>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6">
        <div class="pa-2" outlined tile>COPYRIGHT © 2021 GOHZE</div>
      </v-col>
      <v-col cols="12" sm="6">
        <div class="pa-2 text-md-right" outlined tile>Tous droits reservés</div>
      </v-col>
    </v-row>
  </div>
</template>
<style scoped>
.__footer {
  color: white;
  padding: 20px;
  background-color: black;
}
.logo img {
  width: 197px;
}
.__social .logo img {
  width: 43px;
  margin: 5px;
}
ul li {
  margin-bottom: 18px;
}
ul {
  list-style: none; /* Remove default bullets */
}
ul li span {
  font-size: 14px;
  position: absolute;
  margin-top: 2px;
  margin-left: 8px;
}
ul li::before {
  content: '';
  background: #ffb500;
  width: 10px;
  display: inline-block;
  height: 10px;
  margin-left: -26px;
}
</style>