<template>
  <div>
    <v-img
      class="__heroImage"
      src="https://gohze.com/_nuxt/img/home.2a099a7.png"
      height="700"
    >
      <v-row>
        <div class="__mainHeader">
          <div class="ml-3">
            <h1
              :class="[$vuetify.breakpoint.mdAndUp ? 'display-2' : 'headline']"
            >
              <div class="__yellowText">VOUS SOUHAITEZ</div>
              METTRE EN PLACEUN SERVICE DE DESIGN ET AVEZ BESOIN D’UNE
              EXPÉRIENCE ?
            </h1>
            <div class="font-weight-light body-2 mt-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis voluptatibus, placeat rem sapiente officia debitis
              praesentium sequi necessitatibus, distinctio sunt mollitia fugiat,
              fugit aspernatur id amet? Reiciendis eius modi voluptatem?
            </div>
            <div class="mt-5">
              <v-btn elevation="0" class="text-capitalize ma-2"
                >Besoin d’en savoir plus?</v-btn
              >
              <v-btn
                color="white"
                outlined
                text
                elevation="0"
                class="text-capitalize white--text ma-2"
                >découvrez nos travaux</v-btn
              >
            </div>
          </div>
          <v-container>
            <div class="subtitle-1">
              <ul>
                <v-row>
                  <v-col cols="12" sm="6">
                    <li><span>UX Design</span></li>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <li><span>Branding</span></li>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" sm="6">
                    <li><span>UX Design</span></li>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <li><span>Design de Support</span></li>
                  </v-col>
                </v-row>
              </ul>
            </div>
          </v-container>
        </div>
      </v-row>
    </v-img>
  </div>
</template>
<script>
export default {
  computed: {
    displayClass() {
      let classString = ''
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          classString = 'headline'
          break
        case 'sm':
          classString = 'display-1'
          break
        case 'md':
          classString = 'display-2'
          break
        case 'lg':
          classString = 'display-3'
          break
        case 'xl':
          classString = 'display-4'
          break
      }
      return classString
    },
  },
}
</script>
<style scoped>
.__mainHeader {
  margin-top: 130px;
  color: white;
  margin-left: 26px;
  max-width: 43%;
}
ul {
  list-style: none; /* Remove default bullets */
}
ul li span {
  font-size: 14px;
  position: absolute;
}
ul li::before {
  content: '\2022';
  color: #ffb500;
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  width: 23px;
  margin-left: -26px;
}
.theme--light.v-btn.v-btn--outlined.v-btn--text {
  border-color: unset;
}
@media only screen and (max-width: 600px) {
  .__mainHeader {
    max-width: 87%;
  }
  .__heroImage {
    height: 800px !important;
  }
}
</style>