<template>
  <div>
    <div class="__mainPublic">
      <h2 class="__solution mt-16">
        Toucher un public cible est notre specialite
      </h2>
      <div class="font-weight-light body-2 mt-2 __description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis,
        eveniet. Eaque illum natus maxime voluptas necessitatibus
        consequuntur...
      </div>
    </div>
    <v-row class="mt-5">
      <v-col cols="12" sm="6">
        <div class="pa-2">
          <h3>
            Concevoir une image public stable etcoherent a votre secteur
            d'activite
          </h3>
          <div class="font-weight-light body-2 mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
            quas doloremque ducimus quisquam animi corrupti, commodi cupiditate
            nam alias, eligendi tenetur aspernatur? Animi quae ullam consequatur
            dicta sequi consequuntur deleniti.
          </div>
        </div>
        <div class="pa-2 mt-8">
          <h3>
            Concevoir une image public stable etcoherent a votre secteur
            d'activite
          </h3>
          <div class="font-weight-light body-2 mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
            quas doloremque ducimus quisquam animi corrupti, commodi cupiditate
            nam alias, eligendi tenetur aspernatur? Animi quae ullam consequatur
            dicta sequi consequuntur deleniti.
          </div>
        </div>
      </v-col>
      <v-col cols="12" sm="6">
        <div class="pa-2">
          <v-img
            contain
            max-height="350"
            max-width="550"
            class="ml-auto"
            src="https://images.pexels.com/photos/3769021/pexels-photo-3769021.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          >
          </v-img>
        </div>
      </v-col>
    </v-row>
    <v-row class="mt-5">
      <v-col cols="12" sm="6">
        <div class="pa-2">
          <v-img
            contain
            max-height="350"
            max-width="550"
            class="ml-auto"
            src="https://images.pexels.com/photos/1181352/pexels-photo-1181352.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          >
          </v-img>
        </div>
      </v-col>
      <v-col cols="12" sm="6">
        <div class="pa-2">
          <h3>
            Concevoir une image public stable etcoherent a votre secteur
            d'activite
          </h3>
          <div class="font-weight-light body-2 mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
            quas doloremque ducimus quisquam animi corrupti, commodi cupiditate
            nam alias, eligendi tenetur aspernatur? Animi quae ullam consequatur
            dicta sequi consequuntur deleniti.
          </div>
        </div>
        <div class="pa-2 mt-8">
          <h3>
            Concevoir une image public stable etcoherent a votre secteur
            d'activite
          </h3>
          <div class="font-weight-light body-2 mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
            quas doloremque ducimus quisquam animi corrupti, commodi cupiditate
            nam alias, eligendi tenetur aspernatur? Animi quae ullam consequatur
            dicta sequi consequuntur deleniti.
          </div>
        </div>
      </v-col>
    </v-row>
    <v-row class="mt-5">
      <v-col cols="12" sm="6">
        <div class="pa-2">
          <h3>
            Concevoir une image public stable etcoherent a votre secteur
            d'activite
          </h3>
          <div class="font-weight-light body-2 mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
            quas doloremque ducimus quisquam animi corrupti, commodi cupiditate
            nam alias, eligendi tenetur aspernatur? Animi quae ullam consequatur
            dicta sequi consequuntur deleniti.
          </div>
        </div>
        <div class="pa-2 mt-8">
          <h3>
            Concevoir une image public stable etcoherent a votre secteur
            d'activite
          </h3>
          <div class="font-weight-light body-2 mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
            quas doloremque ducimus quisquam animi corrupti, commodi cupiditate
            nam alias, eligendi tenetur aspernatur? Animi quae ullam consequatur
            dicta sequi consequuntur deleniti.
          </div>
        </div>
      </v-col>
      <v-col cols="12" sm="6">
        <div class="pa-2">
          <v-img
            contain
            max-height="350"
            max-width="550"
            class="ml-auto"
            src="https://images.pexels.com/photos/1181605/pexels-photo-1181605.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          >
          </v-img>
        </div>
      </v-col>
    </v-row>
  </div>
</template>
<style scoped>
.__mainPublic {
  text-align: Center;
  display: block;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.__solution {
  color: #ffb500;
}
.__description {
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
  .__mainPublic {
    max-width: 100%;
  }
}
</style>