<template>
  <div>
    <h2 class="h2">Nos Solution de communication d'expertise</h2>
    <div class="body-2 mt-3 font-weight-light">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima accusamus
      odit exercitationem consectetur architecto repellat magni iste omnis
      inventore tempora. Pariatur ullam minus consequuntur mollitia vitae
      voluptatibus corporis sequi enim.
    </div>

    <v-row class="mt-16">
      <v-col cols="12" sm="4">
        <v-row class="__mainRow">
          <div>
            <img
              src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
              alt=""
            />
          </div>
          <v-col cols="12" sm="10">
            <div class="body-2 mt-2 font-weight-light">
              <h4>Logo Professionals</h4>
              <div class="mt-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                sit eius nihil non natus praesentium eum! Laboriosam sequi...
              </div>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="pa-2">
          <v-row class="__mainRow">
            <div>
              <img
                src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
                alt=""
              />
            </div>
            <v-col cols="12" sm="10">
              <div class="body-2 mt-2 font-weight-light">
                <h4>Logo Professionals</h4>
                <div class="mt-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                  sit eius nihil non natus praesentium eum! Laboriosam sequi...
                </div>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="pa-2">
          <v-row class="__mainRow">
            <div>
              <img
                src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
                alt=""
              />
            </div>
            <v-col cols="12" sm="10">
              <div class="body-2 mt-2 font-weight-light">
                <h4>Logo Professionals</h4>
                <div class="mt-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                  sit eius nihil non natus praesentium eum! Laboriosam sequi...
                </div>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-row>
    <v-row class="mt-16">
      <v-col cols="12" sm="4">
        <v-row class="__mainRow">
          <div>
            <img
              src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
              alt=""
            />
          </div>
          <v-col cols="12" sm="10">
            <div class="body-2 mt-2 font-weight-light">
              <h4>Logo Professionals</h4>
              <div class="mt-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                sit eius nihil non natus praesentium eum! Laboriosam sequi...
              </div>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="pa-2">
          <v-row class="__mainRow">
            <div>
              <img
                src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
                alt=""
              />
            </div>
            <v-col cols="12" sm="10">
              <div class="body-2 mt-2 font-weight-light">
                <h4>Logo Professionals</h4>
                <div class="mt-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                  sit eius nihil non natus praesentium eum! Laboriosam sequi...
                </div>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="pa-2">
          <v-row class="__mainRow">
            <div>
              <img
                src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
                alt=""
              />
            </div>
            <v-col cols="12" sm="10">
              <div class="body-2 mt-2 font-weight-light">
                <h4>Logo Professionals</h4>
                <div class="mt-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                  sit eius nihil non natus praesentium eum! Laboriosam sequi...
                </div>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-row>
    <v-row class="mt-16">
      <v-col cols="12" sm="4">
        <v-row class="__mainRow">
          <div>
            <img
              src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
              alt=""
            />
          </div>
          <v-col cols="12" sm="10">
            <div class="body-2 mt-2 font-weight-light">
              <h4>Logo Professionals</h4>
              <div class="mt-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                sit eius nihil non natus praesentium eum! Laboriosam sequi...
              </div>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="pa-2">
          <v-row class="__mainRow">
            <div>
              <img
                src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
                alt=""
              />
            </div>
            <v-col cols="12" sm="10">
              <div class="body-2 mt-2 font-weight-light">
                <h4>Logo Professionals</h4>
                <div class="mt-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                  sit eius nihil non natus praesentium eum! Laboriosam sequi...
                </div>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="pa-2">
          <v-row class="__mainRow">
            <div>
              <img
                src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
                alt=""
              />
            </div>
            <v-col cols="12" sm="10">
              <div class="body-2 mt-2 font-weight-light">
                <h4>Logo Professionals</h4>
                <div class="mt-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                  sit eius nihil non natus praesentium eum! Laboriosam sequi...
                </div>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-row>
    <v-row class="mt-16">
      <v-col cols="12" sm="4">
        <v-row class="__mainRow">
          <div>
            <img
              src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
              alt=""
            />
          </div>
          <v-col cols="12" sm="10">
            <div class="body-2 mt-2 font-weight-light">
              <h4>Logo Professionals</h4>
              <div class="mt-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                sit eius nihil non natus praesentium eum! Laboriosam sequi...
              </div>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="pa-2">
          <v-row class="__mainRow">
            <div>
              <img
                src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
                alt=""
              />
            </div>
            <v-col cols="12" sm="10">
              <div class="body-2 mt-2 font-weight-light">
                <h4>Logo Professionals</h4>
                <div class="mt-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                  sit eius nihil non natus praesentium eum! Laboriosam sequi...
                </div>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="pa-2">
          <v-row class="__mainRow">
            <div>
              <img
                src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
                alt=""
              />
            </div>
            <v-col cols="12" sm="10">
              <div class="body-2 mt-2 font-weight-light">
                <h4>Logo Professionals</h4>
                <div class="mt-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                  sit eius nihil non natus praesentium eum! Laboriosam sequi...
                </div>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-row>
    <v-row class="mt-16">
      <v-col cols="12" sm="4">
        <v-row class="__mainRow">
          <div>
            <img
              src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
              alt=""
            />
          </div>
          <v-col cols="12" sm="10">
            <div class="body-2 mt-2 font-weight-light">
              <h4>Logo Professionals</h4>
              <div class="mt-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                sit eius nihil non natus praesentium eum! Laboriosam sequi...
              </div>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="pa-2">
          <v-row class="__mainRow">
            <div>
              <img
                src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
                alt=""
              />
            </div>
            <v-col cols="12" sm="10">
              <div class="body-2 mt-2 font-weight-light">
                <h4>Logo Professionals</h4>
                <div class="mt-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                  sit eius nihil non natus praesentium eum! Laboriosam sequi...
                </div>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="pa-2">
          <v-row class="__mainRow">
            <div>
              <img
                src="https://gohze.com/_nuxt/img/styl%20(4).5fb0124.png"
                alt=""
              />
            </div>
            <v-col cols="12" sm="10">
              <div class="body-2 mt-2 font-weight-light">
                <h4>Logo Professionals</h4>
                <div class="mt-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                  sit eius nihil non natus praesentium eum! Laboriosam sequi...
                </div>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<style scoped>
.__mainRow img {
  width: 45px;
  margin-top: 10px;
  margin-left: 10px;
  display: block;
}

@media screen and (max-width: 600px) {
  .__imageContainer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
</style>