<template>
  <div class="__mainStategy">
    <div class="__allText">
      <h1 :class="displayClass + ' font-weight-bond __headText'">
        Notre stratégie de design
      </h1>
      <p class="font-weight-light mt-5 body-2 __textBody">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        voluptatibus, placeat rem sapiente officia debitis praesentium sequi
        necessitatibus, distinctio sunt mollitia fugiat, fugit aspernatur id
        amet? Reiciendis eius modi voluptatem?
      </p>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    displayClass() {
      let classString = ''
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          classString = 'headline'
          break
        case 'sm':
          classString = 'display-1'
          break
        case 'md':
          classString = 'display-2'
          break
        case 'lg':
          classString = 'display-3'
          break
        case 'xl':
          classString = 'display-4'
          break
      }
      return classString
    },
  },
}
</script>
<style scoped>
.__mainStategy {
  margin-top: -46px;
  left: 0px;
  position: absolute;
  left: 0;
  right: 0;
  height: 463px;
  background: transparent linear-gradient(243deg, #dbb925 0%, #8f2577 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
  color: #ffffff;
}
.__headText {
  margin-right: 90px;
  margin-top: 177px;
}
.__textBody {
  max-width: 624px;
}
.__allText {
  float: right;
  padding: 25px;
}
@media only screen and (max-width: 600px) {
  .__allText {
    margin-top: -142px;
    float: none;
  }
  .__mainStategy {
    height: 363px;
  }
}
</style>