<template>
  <div class="__mainWebDesign">
    <div class="__allText">
      <h1 :class="displayClass + ' font-weight-bond __headText'">Design Web</h1>
      <p class="font-weight-light mt-5 body-2 __textBody">
        Nous concevons des interfaces web: organisation des pages,
        l’arborescence et la navigation dans un site web. Tout en tenant compte
        des contraintes spécifiques du support Internet , notamment en termes
        d’ergonomie, d’utilisabilité et d’accessibilité.
      </p>
      <div>
        <v-row>
          <v-col cols="12" sm="6">
            <v-row class="__containText">
              <v-col cols="12" sm="2">
                <img
                  class="ml-0"
                  width="50"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Adobe_XD_CC_icon.svg/1200px-Adobe_XD_CC_icon.svg.png"
                  alt=""
                />
              </v-col>
              <v-col class="body-2 font-weight-light pl-5" cols="12" sm="9">
                logiciel très utiles pour les personnes exerçant en tant que Web
                Designer, UX Designer ou même développeurs Front-end
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" sm="6">
            <v-row class="__containText">
              <v-col cols="12" sm="2">
                <img
                  class="ml-0"
                  width="50"
                  src="https://upload.wikimedia.org/wikipedia/commons/3/33/Figma-logo.svg"
                  alt=""
                />
              </v-col>
              <v-col class="body-2 font-weight-light pl-5" cols="12" sm="9">
                logiciel très utiles pour les personnes exerçant en tant que Web
                Designer, UX Designer ou même développeurs Front-end
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="6">
            <v-row class="__containText">
              <v-col cols="12" sm="2">
                <img
                  class="ml-0"
                  width="50"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Adobe_Illustrator_CC_icon.svg/2101px-Adobe_Illustrator_CC_icon.svg.png"
                  alt=""
                />
              </v-col>
              <v-col class="body-2 font-weight-light pl-5" cols="12" sm="9">
                logiciel très utiles pour les personnes exerçant en tant que Web
                Designer, UX Designer ou même développeurs Front-end
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" sm="6">
            <v-row class="__containText">
              <v-col cols="12" sm="2">
                <img
                  class="ml-0"
                  width="50"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Adobe_Photoshop_CC_icon.svg/1051px-Adobe_Photoshop_CC_icon.svg.png"
                  alt=""
                />
              </v-col>
              <v-col class="body-2 font-weight-light pl-5" cols="12" sm="9">
                logiciel très utiles pour les personnes exerçant en tant que Web
                Designer, UX Designer ou même développeurs Front-end
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row class="__dotContainer">
          <div class="__dot __active"></div>
          <div class="__dot"></div>
          <div class="__dot"></div>
          <div class="__dot"></div>
        </v-row>

        <v-row class="__numberCounters mt-16 d-flex justify-center">
          <v-col class="__lineVertical" cols="12" sm="3">
            <h1 :class="displayClass + ' font-weight-black'">52</h1>
            <div class="__counterDescription font-weight-light">
              Projets en actifs
            </div>
          </v-col>
          <v-col class="__lineVertical" cols="12" sm="3">
            <h1 :class="displayClass + ' font-weight-black'">3-9</h1>
            <div class="__counterDescription font-weight-light">
              années d’experience technique
            </div>
          </v-col>
          <v-col class="__lineVertical" cols="12" sm="3">
            <h1 :class="displayClass + ' font-weight-black'">20+</h1>
            <div class="__counterDescription font-weight-light">
              Campagnes menées
            </div>
          </v-col>
          <v-col cols="12" sm="3">
            <h1 :class="displayClass + ' font-weight-black'">+4.8/5</h1>
            <div class="__counterDescription font-weight-light">
              De recommendation
            </div>
          </v-col>
        </v-row>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    displayClass() {
      let classString = ''
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          classString = 'headline'
          break
        case 'sm':
          classString = 'display-1'
          break
        case 'md':
          classString = 'display-2'
          break
        case 'lg':
          classString = 'display-3'
          break
        case 'xl':
          classString = 'display-4'
          break
      }
      return classString
    },
  },
}
</script>
<style scoped>
.__mainWebDesign {
  margin-top: 415px;
  left: 0px;
  position: absolute;
  left: 0;
  right: 0;
  height: 760px;
  background: transparent linear-gradient(239deg, #25dbc9 0%, #25658f 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
  color: #ffffff;
}
.__headText {
  margin-right: 90px;
  margin-top: 79px;
}
.__textBody {
  max-width: 624px;
}
.__allText {
  float: right;
  padding: 25px;
}

.__containText {
  max-width: 386px;
  padding: 2px;
}
.__dotContainer {
  margin-left: 305px;
}

.__dot {
  background-color: rgba(255, 255, 255, 0.37);
  padding: 5px;
  margin: 5px;
  border-radius: 30px;
}
.__dot.__active {
  background-color: white;
}
.__lineVertical {
  border-right: 2px solid rgba(255, 255, 255, 0.459);
}
.__numberCounters {
  text-align: center;
  margin: 51px;
}

@media only screen and (max-width: 600px) {
  .__allText {
    margin-top: -62px;
    float: none;
  }
  .__mainWebDesign {
    margin-top: 308px;
    height: 1517px;
  }
  .__dotContainer {
    margin-left: 96px;
    margin-top: 30px;
  }
  .__lineVertical {
    border-right: unset;
  }
}
</style>