<template>
  <div>
    <HeroSection />
    <div class="__mainWrapper">
      <ServicesSection />
      <PublicSection />
    </div>
    <DesignStyle />
    <StrategyDesign />
    <WebDesign />
    <CommentNousTravaillons />
    <FooterSection />
  </div>
</template>
<style>
body,
html {
  font-family: CanaroW00-Bold, 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
}
.__mainWrapper {
  margin: 35px;
}
.__yellowText {
  color: #ffb500;
}
</style>
